@model KtcProject1.Models.Game

@{
    ViewBag.Title = "Start";
}

<h2>Match @Model.Match</h2>

<h3>Round @Model.Round</h3>

<div>
@foreach (var p in Model.Players)
{
    <div>
        <h4>@p.Name.ToString()</h4>
        <p>Fumbles: @p.Fumbles</p>
        <p>Chimneys: @p.Chimneys</p>
    </div>
}
</div>

